<div class="field">
	<label for="{{name}}" class="field-label">{{label}}</label>
	<input oninput="{{action}}(this.name, this.value)" type="{{type}}" class="field-input validation" name="{{name}}"
		placeholder="{{placeholder}}">

</div>